body{
    font-family: 'Courier New', monospace;  
    
}
#stream{
    min-height: 100vh; 
    background: linear-gradient(to right top,#f2fa80,#88fc79);
    font-weight: 500;
    padding-top: 50px;   
}
h1 { font-family: Syncopate; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Syncopate; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Syncopate; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Syncopate; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Syncopate; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }


.row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }
.thumbnail{
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.6);
}
